<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases> 
		<typeAlias alias="JdbcInfo" type="com.takim.siem.jdbc.model.JdbcInfo"/>
		<typeAlias alias="KeyInfo" type="com.takim.siem.jdbc.model.KeyInfo"/>
	</typeAliases>
</configuration>
